html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

body.active {
    overflow: hidden;
}

body.lock {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem
}

// Menu burger

.header__burger {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__burger-btn {
    display: none;
    border: none;
    border-radius: 2px;
    width: 30px;
    height: 5px;
    background-color: #057faf;
    cursor: pointer;
    position: relative;
    transition: all .2s linear .2s;

    &::before {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: #057faf;
        position: absolute;
        left: 0;
        top: -10px;
        transition: transform .2s ease-in, top .2s linear .2s;
    }

    &::after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: #057faf;
        position: absolute;
        left: 0;
        top: 10px;
        transition: transform .2s ease-in, top .2s linear .2s;
    }
}

.header__burger-btn.active {
    background-color: transparent;
    transition: all .2s linear;

    &:before {
        transform: rotate(45deg);
        top: 0;
        transition: top .2s linear, transform .2s ease-in .2s;
    }

    &:after {
        transform: rotate(-45deg);
        top: 0;
        transition: top .2s linear, transform .2s ease-in .2s;
    }
}