.footer {
    padding: 50px 0;
    background-color: #2B2A2C;
}

.footer__wrapper {
    text-align: center;
    margin-bottom: 60px;
}

.footer__title {
    font-size: 32px;
    font-weight: 700;
    color: #057faf;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 300;

    span {
        font-style: italic;
        font-weight: 600;
    }
}

.footer__box {
    text-align: center;
    margin-bottom: 100px;
}

.footer__email {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.footer__social {
    .social {
        justify-content: center;
        align-items: center;

        .social__link {
            margin: 0 15px;
            opacity: 1;

            i {
                color: #fff;
            }
        }

        .social__link:hover {

            i {
                color: #2B2A2C;
            }
        }
    }
}

.footer__wrap {
    .user {
        justify-content: center;
        flex-direction: column;

        .user__avatar {
            width: 120px;
            height: 94px;
        }

        .user__content {
            margin-bottom: 20px;
            padding: 0;
        }

        .user__name {
            color: #fff;
            text-align: center;
            font-size: 1.7rem;
            line-height: 2rem;
        }

        .user__prof {
            color: #fff;
            text-align: center;
        }

        .footer__copy-text {
            color: #fff;
            text-align: center;
            font-size: 10px;
            font-weight: 600;

            span {
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 400px) {

    .footer__social {
        .social {
            .social__link {
                margin: 0 5px;
            }
        }
    }
}