.intro {
  margin-top: 100px
}


.intro__inner {
  display: flex;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
  padding-top: 6.6rem;
  padding-bottom: 8rem;
  background: url("../../images/fon.png") right bottom no-repeat;
  position: relative
}



.intro__content {
  width: 65%;
}



.intro__subtitle {
  font-size: 4rem;
  color: #2B2A2C;
  font-weight: 200
}



.intro__title {
  font-size: 4rem;
  color: #2B2A2C;
  font-weight: 200;
  margin-bottom: 20px;

  span {
    font-weight: 700;
    color: #057faf;
  }
}

.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7)
}

.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}

@media (max-width: 991px) {
  .intro__photo {
    width: 350px;
  }

  .intro__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 400px auto;
  }

}


@media (max-width: 565px) {
  .intro__photo {
    display: none;
  }

  .intro__content {
    width: 100%;
  }
}

@media (max-width: 800px) {

  .intro {
    margin-top: 200px;
  }

  .intro__subtitle,
  .intro__title {
    font-size: 3rem;
  }
}


@media (max-width: 767px) {
  .intro__photo {
    display: none;
  }
}

@media (max-width: 400px) {

  .intro__subtitle,
  .intro__title {
    font-size: 2rem;
  }
}