.modal-work {
    display: flex
}

.modal-work__preview {
    width: 65%;
    position: relative;
    overflow: hidden
}

.modal-work__content {
    width: 40%;
    padding: 20px;
    position: relative
}

.modal-work__header {
    margin-bottom: 2.2rem
}

.slider__item {
    width: 100%;
    height: 100%;
}

.modal-work__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-work__title {
    font-size: 2.12rem;
    color: #057faf;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .2rem
}

.modal-work__info {
    font-size: 1.2rem;
    color: #6A696B;
    text-transform: uppercase
}

.modal-work__info-divider {
    margin: 0 1rem
}

.modal-work__box {
    text-align: left;
}

.project__title {
    font-size: 18px;
    font-weight: 700;
    color: #2B2A2C;
    margin-bottom: 10px;
}

.project__description,
.project__technology {
    margin-bottom: 30px;
    line-height: 1.4;
}

.project__description {
    font-size: 14px;
    color: #6A696B;
}

.project__technology {
    color: #057faf;
    font-weight: 700;
    font-size: 16px;
}