.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem
}

.card {
    width: calc(33.33333% - 30px);
    margin: 15px;
    transition: all .5s linear;
}

@media (max-width: 800px) {
    .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 565px) {
    .card {
        width: calc(100% - 30px);
    }
}