.user {
    display: flex;
    align-items: center;
}

.user__avatar {
    width: 57px;
    height: 57px
}

.user__avatar img {
    border-radius: 50%
}

.user__content {
    padding-left: 9px
}

.user__name {

    font-size: 1.04rem;
    line-height: 1.2rem;
    color: #2B2A2C;
    font-weight: 700
}

.user__prof {
    font-size: .8rem;
    line-height: 1rem;
    color: #057faf;
}